{% block content %}
<h2>Welcome to the Home Page, {{ name }}</h2>
<p>You're logged in!</p>

{% if is_org %}
    <a href="{% url 'create_club' %}">
        <button type="button">Club Create</button>
    </a>
    <a href="{% url 'create_event' %}">
        <button type="button">Event Create</button>
    </a>
{% endif %}



{% if clubs %}
    {% for club in clubs %}
        <h1 style="color: aqua;">{{ club.clubname }}</h1>

        {% for event in events %}
            {% if event.club_name == club %}
                <div class="event">
                    <h2>{{ event.event_name }}</h2>
                    <p><strong>Location:</strong> {{ event.location }}</p>
                    <p><strong>Date:</strong> {{ event.date }}</p>
                    <p><strong>Start Time:</strong> {{ event.start_time }}</p>
                    <p><strong>End Time:</strong> {{ event.end_time }}</p>
                    <p><strong>Description:</strong> {{ event.desc }}</p>

                    {% if not is_org %}
                        <a href="{% url 'register_for_event' event.id %}">
                            <button type="button">Register</button>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% else %}
    <p>No events created yet.</p>
{% endif %}

{% endblock %}